/** APP **/
.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

.app-header h1 {
  color: white;
  text-shadow: 0px 0px 8px rgba(237, 239, 241, 0.25);
}

/** CARDS GLOBAL **/
.card {
  width: 750px;
  margin-bottom: 30px;
  text-align: center;
  color: white !important;
  border: 1px solid #1976d2;
  background-color: #282c34 !important;
  box-shadow: 0px 0px 6px 2px rgba(25, 118, 210, 0.25) !important;
}

.card-form {
  border: 1px solid #f50057;
  box-shadow: 0px 0px 6px 2px rgba(245, 0, 87, 0.25) !important;
}

.card-form-table {
  border: 1px solid #651fff;
  box-shadow: 0px 0px 6px 2px rgba(101, 31, 255, 0.25) !important;
}

.card span,
p {
  color: white !important;
}

.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.space {
  padding-bottom: 20px;
}

/** AVATAR **/
.avatar1 {
  box-shadow: 0px 0px 6px 2px rgba(101, 31, 255, 0.25) !important;
}

.avatar2 {
  box-shadow: 0px 0px 6px 2px rgba(245, 0, 87, 0.25) !important;
}

.avatar3 {
  box-shadow: 0px 0px 6px 2px rgba(33, 150, 243, 0.25) !important;
}

/** ICONS **/
.color1 {
  color: #651fff;
}

.color2 {
  color: #f50057;
}

.color3 {
  color: #2196f3;
}

/** FORM **/
input {
  width: 210px;
  color: white;
  font-size: 15px;
  line-height: 1.6;
  padding: .5rem 1rem;
  border-radius: .25rem;
  margin: 10px 10px 10px 10px;
  border: 1px solid #f50057;
  background-color: transparent;
  box-shadow: 0px 0px 6px 2px rgba(245, 0, 87, 0.25);
}

input:focus {
  outline: none;
  border: 2px solid #f50057;
}

.MuiSelect-select.MuiSelect-select {
  color: white;
}

.MuiSelect-icon {
  color: white !important;
}

/** SELECTION SITE WEB **/
::selection {
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.25);
}

::-moz-selection {
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.25);
}

/** BODY SCROLL **/
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #282c34;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.4);
}

th,
td {
  text-align: center !important;
  color: white !important;
  border-bottom: 1px solid #651fff !important;
  box-shadow: 0 3px 2px -2px rgba(101, 31, 255, 0.25) !important;
}

th {
  font-weight: bold !important;
}

/** PARTICLES **/
.particles {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;
}